</div>
                        </div>
                        
					</div>
					<div class="col-lg-6">
						<div class="story-content p-40">
							<h1 class="text-center">Welcome to Zero 2 Crore</h1>
                            <p class="text-center">Choose the compnies and start making money You can play any number of games by altering the team combinations.</p>
							<a href="#" class="genric-btn primary circle arrow">Get Started<span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
                    
                    
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		
		
        
		
		
	</div>

	<script src="*{ASSET_LINK}*jquery.min.js"></script>
    <script src="*{ASSET_LINK}*bootstrap.min.js"></script>
    <script src="*{ASSET_LINK}*js/main.js"></script>
    
</body>
</html>