<!--TAB-1 Login -->
                            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                                  
                                <div class="container section-bgwh p-30">
                                <div class="row">
                                    <div class="section-bgwh-in">
                                    
                                    	<div class="clearfix justify-content-center">
                                            <div class="col-lg-6 col-sm-6 pull-left"><a href="facebook.com"><img src="*{ASSET_LINK}*images/social_fb.png" class="img-fluid" alt=""></a></div>
                                            <div class="col-lg-6 col-sm-6 pull-left"><a href="googleplus.com"><img src="*{ASSET_LINK}*images/social_gp.png" class="img-fluid" alt=""></a></div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="col-lg-12 col-sm-12 text-center mt-40">Or</div>
                                        </div>
										<form method="POST" action="" enctype="multipart/form-data">
											<div>
												<div class="col-lg-12 col-sm-12 mt-25">
												<input name="fname" placeholder="Enter your Mobile Number" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Enter your Mobile Number'" class="common-input mt-20" required="" type="text">
												</div>
											</div>
											<div>
												<div class="col-lg-12 col-sm-12 text-center mt-40">
													<a href="dashboard.html" class="genric-btn primary">Proceed</a>
												</div>
											</div>
										</form>
										<div class="clearfix">
                                            <div class="col-lg-12 col-sm-12 text-center mt-40">Or</div>
                                        </div>
										<form method="POST" action="" enctype="multipart/form-data">
											<div class="alert-msg">*{alert-msg}*</div>
											<div>
												<div class="col-lg-12 col-sm-12 mt-25">
												<input name="email" placeholder="Enter your email" class="common-input mt-20" type="text">
												</div>
											</div>
											<div>
												<div class="col-lg-12 col-sm-12 mt-25">
												<input name="password" placeholder="Enter your password" class="common-input mt-20" type="text">
												</div>
											</div>
											<div>
												<div class="col-lg-12 col-sm-12 text-center mt-40">
													<input type="submit" name="general_login" class="genric-btn primary" value="Login">
												</div>
											</div>
										</form>
                                        <div>
                                            <div class="col-lg-12 col-sm-12 text-center mt-40">Not a member yet? Please <a href="*{register_link}*">Register</a></div>
                                        </div>
                                    
                                    </div></div><!--row-->
                                </div><!--container-->
                                                           
                            </div>