<!--TAB-2 Register-->
                            <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                            
                            	<div class="container section-bgwh p-30">
                                    <div class="row">
                                    <div class="section-bgwh-in p-30 pt-10">
										<div class="alert-msg">*{alert-msg}*</div>
                                        <form id="myForm" action="" method="POST" class="contact-form" enctype="multipart/form-data">
                            
                                        <div class="row"><!--/**/-->
											<div class="col-lg-6">
												<input type="text" name="firstName" placeholder="Enter your first name" class="common-input mt-20" value="*{firstName}*">
											</div>
											<div class="col-lg-6">
												<input type="text" name="lastName" placeholder="Enter your last name" class="common-input mt-20" value="*{lastName}*">
											</div>
										</div>
                                        
                                        <div class="row"><!--justify-content-center-->
											<div class="col-lg-12">
												<input type="text" name="mobile" placeholder="Enter your mobile" class="common-input mt-20" value="*{mobile}*">
											</div>
											<div class="col-lg-12">
												<input type="text" name="email" placeholder="Enter your email" class="common-input mt-20" value="*{email}*">
											</div>
											<div class="col-lg-12">
												<input type="text" name="pan" placeholder="Enter your pan number" class="common-input mt-20" value="*{pan}*">
											</div>
											<div class="col-lg-12">
												<input type="text" name="aadhar" placeholder="Enter your aadhar number" class="common-input mt-20" value="*{aadhar}*">
											</div>
											<div class="col-lg-12">
												<input type="password" name="password" placeholder="Enter password" class="common-input mt-20" value="*{password}*">
											</div>
											<div class="col-lg-12">
												<input type="text" name="confirm_password" placeholder="Confirm password" class="common-input mt-20" value="*{confirm_password}*">
											</div>
											
											<div class="col-lg-12 d-flex justify-content-center mt-30">
												<input type="submit" name="register" class="genric-btn primary" value="Register">
											</div>
												<div class="col-lg-12 d-flex justify-content-center mt-15">Already registered? Please <a href="*{login_link}*">Login</a>
											</div>
                                        </div>
                                        
                                        </form>
                                        
                                    </div></div><!--row-->
                                </div><!--container-->
                            
                            </div>